body {
    margin: 0px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.paddingNavbar{
    padding: 0px 100px;
}

.paddingJumbotron{
    padding: 20px 180px;
}

.textJumbotron{
    font-size: 65px; 
}

.paddingContent1{
    padding: 20px 180px;
}

.paddingContent2{
    padding: 20px 180px;
}

.widthCard{
    width: 23%;
}

@media only screen and (max-width: 767px) {
    /* Mobile & Tablet */
    .paddingNavbar{
        padding: 0px 30px;
    }

    .hideMenuDropdown{
        display: none !important;
    }

    .iconSearch{
        text-align: end;
    }

    .paddingJumbotron{
        padding: 20px 30px;
    }

    .textJumbotron{
        font-size: 40px; 
    }

    .paddingContent2{
        padding: 20px 30px;
    }

    .widthCard{
        width: 43%;
    }
  }